.body {
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    font-family:Sans-serif ;

}

.cat {
    font-family:"Gabriola" ;
}

.main {
    font-family: "Courier New";
}

.txt {
    font-family: Verdana; 
}

img {
    width: 35%;
}

iframe {
    width: 560px;
    height: 250px;
}

